@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;

  font-family: 'Lato', sans-serif;
  
  outline: none;
}

h1 {
  font-family: 'Courgette';
  font-style: italic;
  font-weight: bold;
}

body {
  grid-template-columns: min(320px, 65vw) 1fr;
  grid-template-rows: 1fr 6fr;
  grid-template-areas: "nav nav" "projects main";

  width: 100vw;
  height: 100vh;
}

nav {
  grid-area: nav;
  padding: 1.5rem;
  display: flex;
}
.projects {
  grid-area: projects;
}
main {
  grid-area: main;
}

nav h1 {
  margin-top: 3px;
}

label, input[type=radio] {
  cursor: pointer;
}

button, span {
  color: rgb(28, 25, 23);
  margin: 0;
  padding: 0;
}
button {
  display: flex;
  align-items: center;

  font-weight: bold;
}

button span {
  color: inherit;
}

button.showAddProject {
  color: #be185d;
  font-size: 1.3rem;
}
button.showAddProject .addSign {
  font-size: 1.5rem;
}

button.showAddTask {
  font-size: 1.7rem;
}
button.showAddTask .addSign {
  font-size: 1.9rem;
}

button.add,
button.cancel {

}

section form {
  padding-top: 6px;
}