@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gray500: hsl(25, 5%, 45%);

  --base-font: 1rem;
  
  --base-padding: 16px;
}

* {
  padding: 0;
  margin: 0;

  font-family: 'Lato', sans-serif;
  
  outline: none;
}

body {
  grid-template-columns: min(320px, 65vw) 1fr;
  grid-template-rows: 1fr 6fr;
  grid-template-areas: "nav nav" "projects tasks";

  width: 100vw;
  height: 100vh;
}

nav {
  grid-area: nav;
  padding: calc(var(--base-padding) * 1.2);
  display: flex;
}
nav h1 {
  margin-top: 3px;
  
  font-family: 'Courgette';
  font-style: italic;
  font-weight: bold;
  font-size: calc(var(--base-font) * 2.5);
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects {
  grid-area: projects;
}
.projects h2 {
  font-size: calc(var(--base-font) * 1.75);
}
.projects form {
  padding-top: calc(var(--base-padding) * 0.5);
}

.tasks {
  grid-area: tasks;
}

form label, 
form input[type=radio] {
  cursor: pointer;
}
form label span {
  position: relative;
  top: 5px;
}

form .add,
form .cancel {
  width: 100%;
  
  margin: 4px 0;
  padding: 4px 6px;

  border-radius: 4px;
}

form .add {
  background-color: green;
}
form .cancel {
  background-color: red;
}

button, span {
  color: rgb(28, 25, 23);
  margin: 0;
  padding: 0;
}
button {
  display: flex;
  align-items: center;

  font-weight: bold;
}
button span {
  color: inherit;
}

button.showAddProject {
  color: #be185d;
  font-size: calc(var(--base-font) * 1.4);
}
button.showAddProject span {
  font-size: 1.5rem;
}

button.showAddTask {
  font-size: 1.7rem;
}
button.showAddTask span {
  font-size: 1.9rem;
}

form input[type=text] {
  padding: 4px;
  border: 1px solid var(--gray500);
}